.section6 {
  max-width: 90rem;
  height: 119.125rem;
  margin: 0 auto;
}

.square_image1 {
  width: 27.4375rem;
  height: 35.375rem;
  background: linear-gradient(
      0deg,
      rgba(76, 51, 51, 0.62) 0%,
      rgba(76, 51, 51, 0.62) 100%
    ),
    url("/section6_square_image1.png") lightgray 50% / cover no-repeat;
  background-blend-mode: multiply, normal;
  position: absolute;
  left: 23.6rem;
  top: -6rem;
}

.square_image2 {
  width: 13.875rem;
  height: 20.625rem;
  background: url("/section6_square_image2.png") lightgray -6.988px -2.041px /
    104.963% 101.637% no-repeat;
  position: absolute;
  left: 27.62rem;
  top: 20.25rem;
}
.square_image3 {
  width: 17.5625rem;
  height: 14.625rem;
  background: url("/section6_square_image3.png") lightgray 50% / cover no-repeat;
  position: absolute;
  right: 34.75rem;
  top: 35.88rem;
}

.section6_subtitle {
  font-family: var(--font-fraunces);
  color: #ff3e24;
  font-size: 4.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.75rem; /* 85.714% */
  text-transform: uppercase;
}
.section6_subtitle1 {
  width: 63.75rem;
  height: 11.6875rem;
  position: absolute;
  left: 19.62rem;
  top: 7.5rem;
}
.section6_subtitle2 {
  text-align: center;
  width: 63.75rem;
  height: 11.6875rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 41.87rem;
}

.section6_description {
  color: #ffa89c;
  font-family: var(--font-roboto-mono);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem; /* 144.444% */
}
.section6_description1 {
  width: 25.3125rem;
  height: 14.5625rem;
  position: absolute;
  right: 22.19rem;
  top: 21.31rem;
}
.section6_description2 {
  text-align: center;
  width: 46.25rem;
  height: 1.875rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 36.81rem;
}

.subscription_input {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30.44rem;
  width: 43.875rem;
}

.footer {
  position: absolute;
  bottom: 5.52rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 56.1875rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.footer_socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
}

.footer_copyright {
  color: #ff3e24;
  text-align: center;
  font-family: var(--font-roboto-mono);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 166.667% */
}

.first_line {
  padding-left: 2.7rem;
  display: block;
}

.last_line {
  padding-left: 4.5rem;
  display: block;
}

.line_container {
  position: relative;
  display: inline-block;
}

.red_line {
  content: "";
  position: absolute;
  width: 12.125rem;
  height: 2px;
  background: #ff3e24;
  right: -12.94rem;
  top: 50%;
  transform: translateY(-50%);
}
