.section5 {
  max-width: 90rem;
  height: 135.4375rem;
  position: relative;
  background: #e3e1e0;
}

.section5::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 39.75rem;
  background: linear-gradient(
      180deg,
      rgba(227, 224, 224, 0) 48.5%,
      #e3e0e0 100%
    ),
    url("/section5_bg.jpg") lightgray 50% / cover no-repeat;
}

.section5::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 21rem;
  background: linear-gradient(
      180deg,
      rgba(227, 224, 224, 0) 48.5%,
      #e3e0e0 100%
    ),
    url("/section5_bg.jpg") lightgray 50% / cover no-repeat;
  transform: rotate(180deg);
}

.section5_title {
  width: 45.875rem;
  height: 13.8125rem;
  position: absolute;
  top: 10.87rem;
  left: 17.62rem;
  color: #ff3e24;
  text-align: center;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #ff3e24;
  font-family: var(--font-fraunces);
  font-size: 5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.375rem; /* 77.778% */
  text-transform: uppercase;
}

.section5_description {
  width: 33.75rem;
  color: #ff3e24;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem; /* 130% */
  font-family: var(--font-roboto-mono);
  position: absolute;
  top: 20.75rem;
  right: 20.06rem;
}

.section5_cards {
  width: 67.375rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.19rem 6rem;
  padding-top: 35rem;
  margin: 0 auto;
}

.section5_card {
  position: relative;
  width: 15.37656rem;
  height: 23.625rem;
  border-radius: 12.5rem 12.5rem 0rem 0rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
}

.section5_card::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    transparent 60%,
    rgba(0, 0, 0, 0.4) 100%
  );
  border-radius: inherit;
}

.section5_card_title {
  color: #ff3e24;
  text-align: right;
  font-family: var(--font-fraunces);
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem; /* 83.333% */
  text-transform: uppercase;
  width: 11.75206rem;
  position: absolute;
  bottom: 5.15rem;
  right: 10.82rem;
  z-index: 1;
}

.section5_card:hover {
  transform: translateY(-4px);
}

.section5_cards > *:last-child {
  grid-column: span 3;
  margin: 0 auto;
}
